@font-face {
    font-family: mifuente;
    src: url("fuentes/Roboto-Regular.ttf");
}

body {
    font-family: mifuente;
    background: linear-gradient(180deg, #8BC34A 0%, #ffecb3 0%, #f4433652 100%);
    height: 100vh;
    margin: 0px;
}

#formularioIniciarSesion {
    width: 300px;
    height: 280px;
    position: relative;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    text-align: center;
    background-color: white;
    padding: 40px;
    box-shadow: 0px 0px 10px black;
}

#formularioIniciarSesion span {
    color: rgb(255, 174, 0);
    font-weight: 700;
    font-size: 25px;
}

#formularioIniciarSesion input[type="text"], #formularioIniciarSesion input[type="password"] {
    padding: 5px 10px 5px 15px;
    border: none;
    outline: none;
    height: 30px;
    background-color: rgb(243, 243, 243);
    border-bottom: 3px solid rgb(243, 243, 243);
    margin-top: 20px;
    width: 200px;
}
#formularioIniciarSesion input[type="text"]:hover, #formularioIniciarSesion input[type="password"]:hover {
    border-bottom: 3px solid rgb(255, 174, 0);
}
#formularioIniciarSesion input[type="text"]:focus, #formularioIniciarSesion input[type="password"]:focus {
    border-bottom: 3px solid rgb(255, 174, 0);
}

#formularioIniciarSesion input[type="submit"] {
    background-color: rgb(252, 231, 199);
    border-radius: 10px;
    outline: none;
    background-color:white;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    width: 180px;
    border: 3px solid rgb(255, 174, 0);
    color: rgb(255, 174, 0);
    font-weight: 700;
    font-size: 16px;
}
#formularioIniciarSesion input[type="submit"]:hover {
    background-color: rgb(255, 174, 0);
    color: white;
}

#formularioIniciarSesion a {
    color: rgb(182, 124, 0);
}
#formularioIniciarSesion a:hover {
    color:  rgb(255, 174, 0);
}
#formularioIniciarSesion a:visited {
    color:  rgb(182, 124, 0);
}

#tablaIncidencias {
    width: 950px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

#header {
    width: 100%;
    height: 70px;
    background-color: white;
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px black;
}

#botonCerrarSesion {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
    padding: 10px 20px 10px 20px;
    background-color: #9c2525;
    border: none;
    border-radius: 2px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    outline: none;
    right: 0px;
}
#botonCerrarSesion:hover {
    background-color: #b31616;
    box-shadow: 0px 0px 10px grey;
}

#logo {
    width: 130px;
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
}

#tablaHeader {
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 30px;
    height: 60%;
}

#tablaHeader td {
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    border-radius: 10px;
    border-bottom:2px solid white;
    
}
#tablaHeader td:hover {
    transition: all 0.2s;
    border-bottom: 2px solid #ffbf00;
    background-color: #fffbee;
    box-shadow: 0px 0px 10px #ffbf0048;
}

.divIncidencias {
    background-color: #ffffff;
    width: 80%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 5px grey;
    padding: 0px 50px 60px 50px;
}
.divIncidencias:hover {
    box-shadow: 0px 0px 10px grey;
}

.incidencia {
    height: 100px;
    width: 100%;
    background-color: white;
    top: 30px;
    position: relative;
}
.incidencia:hover {
    background-color: #f5f5f5;
}